<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<%= session[:user_id] %>

name: "Example User",                                      
 email: "example@railstutorial.org",                        
 password_digest: "[FILTERED]",                             
 created_at: Mon, 02 Jan 2023 04:49:32.535504000 UTC +00:00,
 updated_at: Mon, 02 Jan 2023 04:49:32.535504000 UTC +00:00,
 remember_digest: nil,
 admin: true,
 activation_digest: "$2a$12$H1uFaPcb6vRHZwLcLOcldODdrlr/CC0LJA00a/fvGVdqrk8Iatq0C",
 activated: true,
 activated_at: Mon, 02 Jan 2023 04:49:32.200006000 UTC +00:00> 