// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 33px;
}

h1 {
  font-size: 26px;
}

table {
  font-size: 13px;
  border-collapse: separate;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.message {
  width: 450px;
    border: solid red;
    background-color: #f0f0f0;
}

h3 {
  font-size: 14px;
  color: #FFFFFF;
  background: #CC0000;
  margin: 0;
  padding-left: 19px;
}

#notice {
  font-size: 16px;
  color: blue;
}

